[project]
	description = A simple polyfill for mimicking the HTML5 placeholder attribute using jQuery
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael (rknj)
[access "refs/for/refs/*"]
	read = group user/Michael (rknj)
	push = group user/Michael (rknj)
	label-Code-Review = -2..+2 group user/Michael (rknj)
	label-Verified = -1..+1 group user/Michael (rknj)
	rebase = group user/Michael (rknj)
	removeReviewer = group user/Michael (rknj)
	submit = group user/Michael (rknj)
[access "refs/heads/*"]
	read = group user/Michael (rknj)
	create = group user/Michael (rknj)
	push = +force group user/Michael (rknj)
	pushMerge = group user/Michael (rknj)
[access "refs/tags/*"]
	push = +force group user/Michael (rknj)
	pushTag = group user/Michael (rknj)
	pushSignedTag = group user/Michael (rknj)
